.menuImgContainer {
  position: relative;
  width: 100%;
  height: 550px;
}

.rating {
  padding: 7px 0 0 7px;
}

.textareaContainer {
  position: relative;
}
.textareaContainer textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textareaContainer button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.attribution {
  font-size: xx-small;
}

@media only screen and (max-width: 992px) {
  .menuImgContainer {
    height: 450px;
  }
}

@media only screen and (max-width: 768px) {
  .menuImgContainer {
    height: 350px;
  }
}

@media only screen and (max-width: 576px) {
  .menuImgContainer {
    height: 250px;
  }
}

@media only screen and (max-width: 384px) {
  .menuImgContainer {
    height: 150px;
  }
}
