.cardText {
  margin-top: "1rem";
}

@media (prefers-color-scheme: dark) {
  .cardText {
    color: black;
  }

  .BiEdit {
    color: black;
  }

  .BsTrash {
    color: black;
  }

  .AiEdit {
    color: black;
  }
}
