.container {
  width: 100%;
  color: black;
  margin-top: 80px;
}

.historyContainer {
  height: 400px;
}

.sendContainer {
  position: relative;
}

.sendContainer .sendButton {
  position: absolute;
  right: 5px;
  bottom: 3px;
}
