.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}